<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/style.css" rel="stylesheet" />
  </head>
  <body class="text-gray-700 dark:text-gray-200 bg-gray-200 dark:bg-stone-900">
    <main class="grid lg:grid-cols-2 m-4 gap-4">
    <div class="flex flex-col items-center gap-4">
      <div class="flex flex-col
      lg:flex-row gap-4
      text-xl dark:bg-stone-700 bg-white p-4 w-full tile">
        {{ if eq (len .battery) 0 }}
          Battery data unavailable
        {{ end }}
        {{ range .battery }}
        <div>
          Battery {{ .Id }}
          <ul class="list-[square] list-inside">
              <li>Level: {{ printf "%.02f" .Percentage }}%</li>
              <li>State: {{ .State }}</li>
              <li>Rate: {{ printf "%.02f" .Rate }} mW</li>
          </ul>
        </div>
        {{ end }}
      </div>

      <div class="text-xl grid grid-cols-2 separator text-center gap-4">
          <button onclick="fetch('/poweroff')" class="py-2 px-4 group bg-white dark:bg-stone-700">
            <div class="group-active:scale-[0.9] transition-all duration-200">
            poweroff
            </div>
          </button>
          <button onclick="fetch('/reboot')" id="reboot" class="py-2 px-4 group bg-white dark:bg-stone-700">
            <div class="group-active:scale-[0.9] transition-all duration-200">
            reboot
            </div>
          </button>

      </div>

    </div>
    <div class="flex flex-col gap-2">
        <a class="group py-2 px-4 text-xl dark:bg-stone-700 bg-white plate" href="{{ .serverAddr }}:9091">
          <div class="transition-all duration-200 group-active:scale-[0.95] max-w-fit">
            Transmission
          </div>
        </a>

        <a class="group py-2 px-4 text-xl dark:bg-stone-700 bg-white plate" href="{{ .serverAddr }}:8096">
          <div class="transition-all duration-200 group-active:scale-[0.95] max-w-fit">
            Jellyfin
          </div>
        </a>
    </div>
    </main>
  </body>
</html>
